// sidebar
$menuText:#0eb231;  //菜单字体颜色切换
$menuActiveText:#409EFF; //菜单选中  激活颜色 
$subMenuActiveText:#e40f32; //子菜单选中后 主菜单的颜色
//https://github.com/ElemeFE/element/issues/12951

$menuBg:#15393c;  //sidebar 整体的背景颜色
$menuHover:#ca182a; //side bar item选中的变色

$subMenuBg:#1f2d3d;  //子菜单整体背景颜色
$subMenuHover:#001528;  //子菜单悬浮变色

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
